---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// import custom variables and mixins to override BS4
@import "lone-wolf-theme/override-bs4";

// import bootstrap and bootswatch
@import "bootswatch/dist/{{ site.bootswatch_theme | default: 'united' }}/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/{{ site.bootswatch_theme | default: 'united' }}/bootswatch";

// import custom variables and mixins to extend BS4
@import "lone-wolf-theme";
.custom-navbar {
  background-color: #ffffff !important; // 白色背景
  border-bottom: 1px solid #e5e5e5; // 可选：添加底部细线
}
.img-gap-0  { margin-bottom: 0px !important }
.img-gap-18  { margin-bottom: 18px !important }
.img-gap-20  { margin-bottom: 20px !important }
.img-gap-30 { margin-bottom: 30px !important}
.img-gap-60 { margin-bottom: 60px !important }
.img-gap-120 { margin-bottom: 120px !important }

@import "custom";
/* =========================
   视频自适应样式
========================= */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 比例 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* 调整视频所在模块间距 */
.case-img {
  margin-top: 20px;
  margin-bottom: 40px;
}



